@import 'tailwindcss';

@utility items-centered {
  @apply place-content-center-safe
  items-center
  justify-items-center;
}

@utility items-start-centered {
  @apply
  place-content-start
  items-start
  justify-start;
}

@utility items-end-centered {
  @apply
  place-content-end
  items-end
  justify-end;
}

@utility absolute-center {
  transform: translate3d(-50%, -50%, 0);
  @apply absolute top-1/2 left-1/2;
}

@utility absolute-bottom {
  transform: translate3d(-50%, 0, 0);
  @apply absolute bottom-0 left-1/2;
}

@utility glass-white-from { 
  @apply bg-white/5 backdrop-blur-xl; 
  box-shadow: 
    inset 2px 1px 0 rgba(255,255,255,0.30), 
    inset -1px -0.5px 0 rgba(255,255,255,0.14), 
    inset 1px 0 0 rgba(255,255,255,0.06), 
    inset 0 1px 0 rgba(255,255,255,0.06), 
    inset -1px 0 0 rgba(0,0,0,0.06), 
    inset 0 -1px 0 rgba(255,255,255,0.06); 
  -webkit-backdrop-filter: blur(40px); 
  backdrop-filter: blur(40px);
}

@utility glass-white {
  @apply bg-white/5 backdrop-blur-2xl;
  
  background-clip: padding-box;
  
  box-shadow:
    inset 1px 0.6px 0 0 rgba(255, 255, 255, 0.1),
    inset -1px -0.6px 0 0 rgba(255, 255, 255, 0.1),
    inset 0 -1px 0 0 rgba(61, 61, 61, 0.6),
    inset 0 1px 0 0 rgba(61, 61, 61, 0.6),
    inset 1px 0.5px 0 0 rgba(255, 255, 255, 0.7),
    inset -1px -0.5px 0 0 rgba(255, 255, 255, 0.7)
}


@utility glass-black {
  @apply bg-[#0D0D0D]/20 backdrop-blur-2xl;
  
  background-clip: padding-box;
  
box-shadow:
  inset 1px 0.6px 0 0 rgba(139, 139, 139, 0.4),
  inset -1px -0.6px 0 0 rgba(139, 139, 139, 0.4),
  inset 0 -1px 0 0 rgba(0, 0, 0, 0.5),
  inset 0 1px 0 0 rgba(0, 0, 0, 0.5),
  inset 1px 0.5px 0 0 rgba(139, 139, 139, 0.4),
  inset -1px -0.5px 0 0 rgba(139, 139, 139, 0.4)
}

@theme {
  --font-dela: var(--font-dela);
  --font-unbounded: var(--font-unbounded);
}

